/*
    File: website.css

    Author: Justin Waltenbury

    Date: February 11, 2018
    Last Modified: March 21, 2018

    Purpose: Style sheet for the website. Used for div's right now.

    Disclaimer: Structure for this page adopted from WEBD 3201 Group 24 project (J. Waltenbury, N. Gaspar, E. Forrester, D. Stewart)
*/


body {
    background-color: #20C20E;
}

h1 {
    color: #20C20E;
    text-align: center;
    font-family: verdana, arial;
}

h2{
	color: #20C20E;
	text-align: center;
    font-family: verdana, arial;
}

h3{
	color: #20C20E;
	text-align: center;
    font-family: verdana, arial;
}

p {
    font-family: verdana, arial;
    font-size: 14px;
    color: #20C20E
}

p.normal {
	font-style: normal;
}

p.underline {
	text-decoration: underline;
}

p.intro{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

p.media{
    text-align: center;
	max-width: 75%;
	margin: auto;
	font-weight: bold;
}

th{
	background-color: #4b0082;
	color : #B0C4DE;
	font-family: verdana, arial; 
}

a:hover{
	color: #4b0082;
}

a:active{
	color: #9552D4;
}

ul{
	list-style-type: square;
	color: #20C20E;
}
ol{
	list-style-type: upper-roman;
}
li{
	color: #20C20E;
}

td{
	font-family: verdana, arial;
}

img.standard{
    max-height: 75%;
	max-width: 75%;
	display: block;  /* https://www.w3schools.com/howto/howto_css_image_center.asp */
	margin: auto;
}

header{
	font-size: 20px;
	font-weight: bold;
	background: #ffffffbd;
}

form{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

div.topic{
    float: left;
	padding: 15px;
	margin: 5px;
	max-width: 300px;
	height: 600px;
	border: 1px solid black;
}

div.topiccontainer{
	min-height: 1300px;
	height: auto;
}
@media screen and (max-width: 600px) {
	div.topiccontainer{
		height: 3900px;
	}
}

audio{
	max-width: 100%;
	max-height: 100%;
}

iframe{
	max-width: 100%;
	max-height: 100%;
}

video{
	max-width: 100%;
	max-height: 100%;
}

/* https://stackoverflow.com/questions/36564945/iframe-video-100-width */
div.youtubecontainer {
    position: relative;
    width: 75%;
    height: 0;
	padding-bottom: 40%;
	margin: auto;
}

iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
The layout for the rest of this css is a modified version from:
http://www.maxdesign.com.au/articles/process/
*/
#container
{
	margin: 0 auto;
	width: 100%;
	background: #000000;
}

#header
{
	background: #000000;
	padding: 20px;
}

#header h1
 { 
	margin: 0;
	display: inline;
}
#header img
 { 
	vertical-align: middle;
	max-width: 150px;
}

#sites
{
	float: left;
	width: 100%;
	background: #000;
}

#sites ul
{
	margin: 0;
	padding: 0;
}

#sites ul li
{
	list-style-type: none;
	display: inline;
}

#sites li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#sites li a:hover { 
	background-color: #ccc; 
	color: #20C20E;
}

#navigation
{
	clear: left;
	padding: 10px 0;
	margin: 0 20px 0 0;
	display: inline;
}

#navigation h3 { margin: 0; }

#content-container
{
	float: left;
	width: 100%;
	background-color: #000000;
	background-image: url(../images/styles/background.png);
	/* go up a directory, and then work down into images/styles directory */
	background-repeat: repeat-y;
	
}

#content
{
	padding: 20px 0;
	margin: 0 0 0 30px;
	display: inline;
}

#content h2 { margin: 0; }


#footer
{
	clear: both;
	background: #fff;
	text-align: right;
	padding: 20px;
	height: 1%;
}
#footer img{
	vertical-align: middle;
}